{# Copyright (c) 2018 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% macro link_to_user(user) -%}
  {% if user.is_real_user %}
    <a
      href="/user/{{ user.username }}"
      class="link-user"
      {% if request.user.open_new_tab_user %}target="_blank"{% endif %}
    >{{ user.username }}</a>
  {% else %}
    {{ user.username }}
  {% endif %}
{%- endmacro %}

{% macro link_to_group(group) -%}
  <a
    href="/~{{ group.path }}"
    class="link-group"
    {% if request.user.open_new_tab_group %}target="_blank"{% endif %}
  >~{{ group.path }}</a>
{%- endmacro %}
