{# Copyright (c) 2018 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% from 'macros/datetime.jinja2' import adaptive_date_responsive %}
{% from 'macros/links.jinja2' import link_to_user with context %}

{% macro render_message(message) %}
  {% if message.sender == request.user %}
    <article class="message is-message-mine">
  {% else %}
    <article class="message">
  {% endif %}

    <header>
      {{ link_to_user(message.sender) }}
      {{ adaptive_date_responsive(message.created_time) }}
    </header>

    <div class="message-text"
      {% if request.user %}
        {% if request.user.open_new_tab_text %}
          data-js-external-links-new-tabs
        {% endif %}
        {% if request.user.open_new_tab_group %}
          data-js-group-links-new-tabs
        {% endif %}
        {% if request.user.open_new_tab_user %}
          data-js-user-links-new-tabs
        {% endif %}
      {% endif %}
    >{{ message.rendered_html|safe }}</div>
  </article>
{% endmacro %}
