{# Copyright (c) 2018 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'base.jinja2' %}

{% block body_tag %}
  <body class="l-no-sidebar theme-{{ request.current_theme }}">
{% endblock %}
