{# Copyright (c) 2018 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'base.jinja2' %}

{% from 'macros/user_menu.jinja2' import render_user_menu with context %}

{% block sidebar %}
  {{ render_user_menu() }}
{% endblock %}
