{# Copyright (c) 2019 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'base_no_sidebar.jinja2' %}

{% block title %}Thanks for donating!{% endblock %}

{% block content %}
<div class="empty">
  <h2 class="empty-title">Thanks for donating to Tildes!</h2>
  <p class="empty-subtitle">You should receive an email receipt. If you have any questions, please feel free to contact <a href="mailto:donate@biglife.quest">donate@biglife.quest</a></p>

  <div class="empty-action"><a href="/" class="btn btn-primary">Back to the home page</a></div>
</div>
{% endblock %}
