{# Copyright (c) 2018 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'base_no_sidebar.jinja2' %}

{% block title %}{{ error }}{% endblock %}

{% block content %}
<div class="empty">
  <h2 class="empty-title">{{ error }}</h2>
  <p class="empty-subtitle">{{ description }}</p>

  <div class="empty-action"><a href="/" class="btn btn-primary">Back to the home page</a></div>
</div>
{% endblock %}
