{# Copyright (c) 2019 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'base_no_sidebar.jinja2' %}

{% from "macros/utils.jinja2" import format_money %}

{% block title %}Tildes financials{% endblock %}

{% block main_classes %}text-formatted{% endblock %}

{% block main_heading %}Tildes financials{% endblock %}

{% block content %}

<p>This page is a view into Tildes's financials, showing its operating expenses and income from the various donation methods. Currently, it only contains data for {{ current_time.strftime("%B %Y") }}, but more historical data will be available eventually.</p>

<p>Amounts on this page are in USD unless otherwise noted. Even though Tildes is a Canadian non-profit, many of its costs and donations are in USD. People from other parts of the world are also generally most familiar with the relative value of USD, so using it makes this info more understandable to everyone.</p>

<p>This page <em>does not</em> update in real-time. I will generally try to keep it current within a day or two (and automate some pieces eventually), but new donations will not show up immediately, and this information may be incomplete or outdated.</p>

<div class="divider"></div>

<p>Tildes is a non-profit site with no ads or investors, funded entirely by donations.</p>

<p><a href="https://docs.biglife.quest/donate">Please donate to help support its continued development!</a></p>

<div class="divider"></div>

<h2>{{ current_time.strftime("%B %Y") }} expenses and income</h2>

<small>Note: Most amounts are approximate, due to currency conversion, incomplete data, or uncertain fees.</small>

<table class="table table-financials">
<tr><th colspan="2">Expenses</th></tr>

{% for entry in entries["expense"] %}
  {{ entry_table_row(entry.description, entry.amount) }}
{% endfor %}

{{ entry_table_row("{} total expenses".format(current_time.strftime("%B %Y")), entries["expense"]|sum(attribute="amount"), is_summary=True) }}
</table>

<table class="table table-financials">
<tr><th colspan="2">Income</th></tr>

{% for entry in entries["income"] %}
  {{ entry_table_row(entry.description, entry.amount) }}
{% endfor %}

{{ entry_table_row("{} total income (so far)".format(current_time.strftime("%B %Y")), entries["income"]|sum(attribute="amount"), is_summary=True) }}
</table>
{% endblock %}

{% macro entry_table_row(description, amount, is_summary=False) %}
  <tr{{ ' class="tr-summary"'|safe if is_summary }}>
    <td>{{ description }}</td>
    <td class="td-money">
      {{ format_money(amount) }}
    </td>
  </tr>
{% endmacro %}
