{# Copyright (c) 2021 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{%- extends 'topic_listing.rss.jinja2' %}

{% block channel_title %}Tildes{% endblock %}
{% block channel_link %}https://biglife.quest/{% endblock %}
{% block channel_description %}Topics RSS feed{% endblock %}
