{# Copyright (c) 2018 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'topic_listing.jinja2' %}

{% from 'macros/forms.jinja2' import search_form %}
{% from 'macros/donation_goal.jinja2' import donation_goal %}

{% block title_full %}Tildes{% endblock %}

{% block meta_og_tags %}
  <meta property="og:title" content="Tildes">
  <meta property="og:description" content="Tildes is a non-profit community site with no advertising or investors. It respects its users and their privacy, and prioritizes high-quality content and discussions.">
{% endblock %}

{% block header_context_link %}{% endblock %}

{% block content %}
  {% if request.user %}
    {% if request.user.subscriptions %}
      {{ super() }}
    {% else %}
      <div class="empty">
        <h2 class="empty-title">You aren't subscribed to any groups yet</h2>
        <p class="empty-subtitle">This page will show a combined listing of topics from groups that you're subscribed to.</p>
        <div class="empty-action"><a href="/groups" class="btn btn-primary">Browse the list of groups</a></div>
      </div>
    {% endif %}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block sidebar %}
  {{ search_form() }}

  {% if financial_data %}
    {{ donation_goal(financial_data, current_time) }}
  {% endif %}

  <h2>Home</h2>

  {% if request.user %}
    <p>The home page shows topics from groups that you're subscribed to.</p>
  {% else %}
    <p>The home page shows topics from all the groups on Tildes.</p>
    <p>Logged-in users can choose which groups they subscribe to and/or filter out posts with particular tags.</p>
  {% endif %}

  {% if groups %}
    <ul class="nav">
      {% if request.user %}
        <li>Subscriptions</li>
      {% else %}
        <li>Groups</li>
      {% endif %}

      <li>
        <ul class="nav nav-group-list">
        {% for group in groups|sort %}
          <li class="nav-item">{{ link_to_group(group) }}</li>
        {% endfor %}
        </ul>
      </li>
    </ul>
    <a href="/groups" class="btn btn-primary">Browse the list of groups</a>
  {% endif %}

  {% if request.user %}
    <div class="divider"></div>

    <ul class="nav">
    <li>User settings</li>

    <li>
      <ul class="nav">
        {% if not unfiltered %}
        <li><details>
          <summary>Filtered topic tags ({{ request.user.filtered_topic_tags|length }})</summary>
          <ul class="topic-tags">
            {% for tag in request.user.filtered_topic_tags %}
              <li class="label label-topic-tag">
                <a href="/?tag={{tag}}">{{ tag }}</a>
              </li>
            {% else %}
              <li class="label label-topic-tag">No filtered tags</li>
            {% endfor %}
          </ul>
          <a class="btn btn-link" href="/settings/filters">Edit filtered tags</a>
        </details></li>
        {% endif %}

        <li class="nav-item ml-2"><a href="/settings">Settings page</a></li>
      </ul>
    </li>
    </ul>
  {% endif %}
{% endblock %}
