{# Copyright (c) 2021 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{%- extends 'topic_listing.atom.jinja2' %}

{% block feed_title %}Tildes Atom feed{% endblock %}
