{# Copyright (c) 2018 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'base_user_menu.jinja2' %}

{% block title %}Invite someone{% endblock %}

{% block main_heading %}
  Invite someone to be able to register
{% endblock %}

{% block content %}

<p>This page allows you to generate invite codes you can give to others so that they can register an account on Tildes. A couple of things to keep in mind:</p>

<ul>
  <li>A record of which users you invite will be kept internally (but won't be visible to any users, including you). Please invite people that you think will be good community members&mdash;if you repeatedly invite users that cause issues, you may lose inviting privileges.</li>
  <li>The active invite codes will stay visible on this page until they're used. You don't need to worry about losing them if you leave the page.</li>
</ul>

<div class="divider"></div>

<div class="code-gen-btn">
  {% if request.user.invite_codes_remaining > 0 %}
    <button
      class="btn btn-primary mb-2"
      data-ic-get-from="{{ request.route_url(
        'ic_user_invite_code',
        username=request.user.username,
      ) }}"
      data-ic-replace-target="true"
      data-ic-target=".code-gen-btn"
    >Generate new code ({{ request.user.invite_codes_remaining }} left)</button>
  {% else %}
    <p>You aren't able to generate more invite links right now.</p>
  {% endif %}

{% if codes %}
    <p>You have the following invite links active that have not been used yet:</p>
  </div>
  {% for code in codes %}
    <input class="form-input input-invite-code" type="text" value="{{ request.route_url("register", _query={"code": code}) }}" readonly data-js-autoselect-input>
  {% endfor %}
{% else %}
  </div>
{% endif %}

{% endblock %}
