{# Copyright (c) 2018 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'base_no_sidebar.jinja2' %}

{% block title %}Log In{% endblock %}

{% block main_heading %}Log in{% endblock %}

{% block content %}
  <form class="form-narrow form-login" method="post" data-ic-post-to="/login" data-ic-target="closest main">
    <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">
    <input type="hidden" name="from_url" value="{{ from_url }}">

    <div class="form-group">
      <label class="form-label col-4" for="username">Username</label>
      <input class="form-input" id="username" name="username" type="text" placeholder="Username" data-js-auto-focus>
    </div>

    <div class="form-group">
      <label class="form-label col-4" for="password">Password</label>
      <input class="form-input" id="password" name="password" type="password" placeholder="Password">
    </div>

    <div class="form-group">
      <label class="form-checkbox">
        <input type="checkbox" id="keep" name="keep">
        <i class="form-icon"></i> Keep me logged in
      </label>
    </div>

    <div class="form-buttons">
      <button class="btn btn-primary" type="submit">Log in</button>
    </div>
  </form>

  <hr>

  <p class="text-small">Tildes is currently in invite-only alpha, and you must be invited to be able to register. Most of the existing users have the ability to invite others, so if you know someone that has an account, you can ask them for an invite. Otherwise, please <a href="https://blog.biglife.quest/announcing-tildes">read the announcement blog post</a> for more info about the site and instructions for requesting an invite from the site admin.</p>

  <p class="text-small">If you already have a Tildes account but have forgotten your password, please send an email (you must include your username) to <a href="mailto:password@biglife.quest">password@biglife.quest</a>.</p>
{% endblock %}
