{# Copyright (c) 2018 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'messages.jinja2' %}

{% block title %}Sent Messages{% endblock %}

{% block main_heading %}Sent Messages{% endblock %}
