{# Copyright (c) 2018 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'notifications_unread.jinja2' %}

{% block title %}Previously read notifications{% endblock %}

{% block main_heading %}Previously read notifications{% endblock %}
