{# Copyright (c) 2018 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'topic_listing.jinja2' %}

{% from 'macros/forms.jinja2' import search_form %}
{% from 'macros/links.jinja2' import link_to_group with context %}

{% block title %}Search results: {{ search }}{% endblock %}

{% block header_context_link %}
  {% if group %}
    Search in ~{{ group.path }}:
  {% else %}
    Search:
  {% endif %}
  {{ search }}
{% endblock %}

{% block filter_info %}
  {% if group %}
    <div class="topic-listing-filter">
    Search results from inside {{ link_to_group(group) }} only.
    <a href="{{ request.route_url("search", _query={"q": search}) }}">Search all groups</a>
    </div>
  {% endif %}
{% endblock %}

{% block sidebar %}
  {{ search_form(search, group) }}

  <h2>Search results</h2>

  <p><a href="/">Back to home page</a></p>

  {% if request.user %}
    <div class="divider"></div>

    {% if request.has_permission("topic.post", group) %}
      <a href="/~{{ group.path }}/new_topic" class="btn btn-primary">Post a new topic</a>
    {% endif %}

    {% if request.user.subscriptions %}
      <ul class="nav">
        <li>Subscriptions</li>
        <ul class="nav">
        {% for subscription in request.user.subscriptions|sort(attribute='group') %}
          <li class="nav-item"><a href="/~{{ subscription.group.path }}">~{{ subscription.group.path }}</a></li>
        {% endfor %}
        </ul>
      </ul>
    {% endif %}
  {% endif %}

{% endblock %}
