{# Copyright (c) 2018 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'base_settings.jinja2' %}

{% block title %}Define topic tag filters{% endblock %}

{% block main_heading %}Define topic tag filters{% endblock %}

{% block settings %}
<p>You can configure a list of filtered topic tags below. If a topic has <em>any</em> of these tags, it will be filtered out (not shown) by default, but you can toggle the filtering off to see a full list.</p>

<p>These filters are <em>global</em> and will apply both to your home page as well as inside specific groups.</p>

<hr>

<form method="post"
    autocomplete="off"
    data-ic-put-to="{{ request.route_url(
      'ic_user_filtered_topic_tags',
      username=request.user.username,
    ) }}"
>
  <label class="form-label" for="tags">Filtered tags (one per line):</label>
  <textarea
    class="form-input"
    name="tags"
    id="tags"
    data-js-ctrl-enter-submit-form
    data-js-auto-focus
  >{{ request.user.filtered_topic_tags|join("\n") }}</textarea>
  <div class="form-buttons">
    <button class="btn btn-primary" type="submit">Save filtered tags</button>
  </div>
</form>
{% endblock %}
