{# Copyright (c) 2019 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% from 'macros/comments.jinja2' import render_comment_tree with context %}
{% from 'macros/topics.jinja2' import render_topic_for_listing with context %}

{% extends 'base_settings.jinja2' %}

{% block main_classes %}{% endblock %}

{% block title %}Theme previews{% endblock %}

{% block main_heading %}Theme previews{% endblock %}

{% block settings %}
  <section class="settings-section">
  <h2>Theme options</h2>
  <p>Click a theme to preview it on this page. This will not change your current theme setting. If you want to continue using a theme, select it on <a href="/settings">the main Settings page</a>.</p>
  <div class="theme-preview-blocks">
    {% for class_name, name in theme_options.items() %}
      <button
        class="theme-preview-block theme-preview-block-{{ class_name }}"
        data-js-theme-preview="{{ class_name }}"
      >{{ name }}</button>
    {% endfor %}
  </div>
  </section>

  <section class="settings-section">
    <h2>Topic listings</h2>
    <ol class="topic-listing theme-preview-fake-posts">
      {% for fake_topic in fake_topics %}
      <li>
        {{ render_topic_for_listing(fake_topic, show_group=true) }}
      </li>
      {% endfor %}
    </ol>
  </section>

  <section class="settings-section">
    <h2>Comments</h2>
    <ol class="comment-tree theme-preview-fake-posts">
      {{ render_comment_tree(fake_comment_tree, mark_newer_than=last_visit) }}
    </ol>
  </section>
{% endblock %}
