{# Copyright (c) 2018 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'base_settings.jinja2' %}

{% block title %}Change your password{% endblock %}

{% block main_heading %}Change your password{% endblock %}

{% block settings %}
<form
  class="form-narrow"
  name="password-change"
  method="post"
  data-ic-patch-to="{{ request.route_url('ic_user', username=request.user.username) }}"
>
  <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">

  <div class="form-group">
    <label class="form-label" for="old_password">Current password</label>
    <input class="form-input" id="old_password" name="old_password" type="password" placeholder="Current password" autocomplete="current-password">
  </div>

  <div class="form-group">
    <label class="form-label" for="new_password">New password</label>
    <input class="form-input" id="new_password" name="new_password" type="password" placeholder="New password" autocomplete="new-password">
  </div>

  <div class="form-group">
    <label class="form-label" for="new_password_confirm">Confirm new password</label>
    <input class="form-input" id="new_password_confirm" name="new_password_confirm" type="password" placeholder="Confirm new password" autocomplete="new-password">
  </div>

  <div class="form-buttons">
    <button class="btn btn-primary" type="submit">Change password</button>
  </div>
</form>

<div class="divider"></div>
<dl>
{% include 'includes/password_restrictions.jinja2' %}
</dl>

{% endblock %}
