{# Copyright (c) 2021 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{%- extends 'base.atom.jinja2' %}

{% block feed_title %}~{{ group.path }} - Tildes{% endblock %}

{% block feed_entries %}

    {% for topic in topics %}
        <entry>
            <title><![CDATA[{{ topic.title }}]]></title>
            <id>{{ topic.permalink_absolute }}</id>
            {% if topic.is_link_type %}
                <link rel="alternate" href="{{ topic.link }}"/>
            {% else %}
                <link rel="alternate" href="{{ topic.permalink_absolute }}"/>
            {% endif %}
            <content type="html"><![CDATA[
                {% if topic.is_link_type %}
                    <p>Link URL: <a href="{{ topic.link }}">{{ topic.link }}</a></p>
                {% elif topic.is_text_type %}
                    {{ topic.rendered_html|safe }}
                    <hr/>
                {% endif %}
                <p>Comments URL: <a href="{{ topic.permalink_absolute }}">{{ topic.permalink_absolute }}</a></p>
                <p>Votes: {{ topic.num_votes }}</p>
                <p>Comments: {{ topic.num_comments }}</p>
            ]]></content>
            <author><name>{{ topic.user.username }}</name></author>
            {% if topic.last_edited_time %}
                <updated>{{ topic.last_edited_time.strftime("%Y-%m-%dT%H:%M:%SZ") }}</updated>
            {% else %}
                <updated>{{ topic.created_time.strftime("%Y-%m-%dT%H:%M:%SZ") }}</updated>
            {% endif %}
        </entry>
    {% endfor %}

{% endblock %}
