{# Copyright (c) 2018 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'base.jinja2' %}

{% from 'macros/forms.jinja2' import search_form %}
{% from 'macros/groups.jinja2' import group_segmented_link, render_group_subscription_box with context %}
{% from 'macros/links.jinja2' import link_to_group with context %}
{% from 'macros/topics.jinja2' import render_topic_for_listing with context %}

{% block title %}Topics in ~{{ group.path }}{% endblock %}

{% block link_alternate_feeds %}
  <link href="{{ request.current_route_path("topics.atom") }}" type="application/atom+xml" rel="alternate" title="Topics Atom feed" />
  <link href="{{ request.current_route_path("topics.rss") }}" type="application/rss+xml" rel="alternate" title="Topics RSS feed" />
{% endblock %}

{% block header_context_link %}
  {{ group_segmented_link(group) }}
{% endblock %}

{% block content %}

{% if request.context is group %}
  {% set is_single_group = True %}
{% else %}
  {% set is_single_group = False %}
{% endif %}

<div class="listing-options">
  <menu class="tab tab-listing-order">
    {% for option in order_options %}
      {% if option == order %}
        <li class="tab-item active">
      {% else %}
        <li class="tab-item">
      {% endif %}

      <a href="{{ request.current_listing_base_url({'order': option.name.lower()}) }}">
        {{ option.display_name }}
      </a>

      </li>
    {% endfor %}
  </menu>

  <form class="form-listing-options" method="get">
    <input type="hidden" name="order" value="{{ order.name.lower() }}">
    {% if tag is defined and tag %}
      <input type="hidden" name="tag" value="{{ tag }}">
    {% endif %}

    {% if search is defined %}
      <input type="hidden" name="q" value="{{ search }}">
    {% endif %}

    <div class="form-group">
      <label for="period">from</label>
      <select id="period" name="period" class="form-select" data-js-time-period-select>
        {% for option in period_options %}
          <option value="{{ option.as_short_form() }}"

          {% if option == period %}
            selected
          {% endif %}

          >last {{ option }}</option>
        {% endfor %}
        <option value="all"{{ ' selected' if not period else '' }}>all time</option>
        <option value="other">other period</option>
      </select>
      {# add a submit button for people with js disabled so this is still usable #}
      <noscript>
        <button type="submit" class="btn btn-primary btn-sm">OK</button>
      </noscript>
    </div>
  </form>

  {% if request.user and is_default_view is defined and not is_default_view %}
    <form
      {% if is_single_group %}
        data-ic-patch-to="{{ request.route_url(
          'ic_group_user_settings',
          path=request.context.path,
        ) }}"
      {% else %}
        data-ic-put-to="{{ request.route_url(
          'ic_user_default_listing_options',
          username=request.user.username,
        ) }}"
      {% endif %}
      data-js-remove-on-success
    >
      <input type="hidden" name="order" value="{{ order.name.lower() }}">
      {% if period %}
        <input type="hidden" name="period" value="{{ period.as_short_form() }}">
      {% endif %}
      <button class="btn btn-link">Set as default</button>
    </form>
  {% endif %}
</div>

{% block filter_info %}
<div class="topic-listing-filter">
{% if tag %}
  {% if is_single_group %}
    Showing only topics in {{ link_to_group(group) }} with the tag "{{ tag|replace('_', ' ') }}".
    <a href="{{ request.current_listing_normal_url() }}">Back to normal view</a> /
    <a href="{{ request.route_url("home", _query={"tag": tag}) }}">
      {% if request.user %}
        Search your subscribed groups
      {% else %}
        Search all groups
      {% endif %}
    </a>
  {% else %}
    Showing only topics with the tag "{{ tag|replace('_', ' ') }}".
    <a href="{{ request.current_listing_normal_url() }}">Back to normal view</a>
  {% endif %}

  {% if request.user.filtered_topic_tags and not unfiltered %}
    <br>
    Topic tag filters active (see sidebar).
    <a href="{{ request.current_listing_normal_url({'tag': tag, 'unfiltered': 'true'}) }}">View unfiltered list</a>
  {% endif %}
{% elif unfiltered %}
  Showing unfiltered topic list.
  <a href="{{ request.current_listing_normal_url() }}">Back to normal view</a>
{% elif request.user.filtered_topic_tags %}
  Topic tag filters active (see sidebar).
  <a href="{{ request.current_listing_normal_url({'unfiltered': 'true'}) }}">View unfiltered list</a>
{% endif %}
</div>
{% endblock %}

{% if topics.has_prev_page %}
  <div class="pagination">
    {% if topics.has_prev_page %}
      <a class="page-item btn"
        href="{{ request.current_listing_base_url({'before': topics.prev_page_before_id36}) }}"
      >Prev</a>
    {% endif %}

    {% if topics.has_next_page %}
      <a class="page-item btn"
        href="{{ request.current_listing_base_url({'after': topics.next_page_after_id36}) }}"
      >Next</a>
    {% endif %}
  </div>
{% endif %}

{% if not topics %}
  <div class="empty">
    {% if period %}
      <h2 class="empty-title">No topics in the selected time period</h2>
      {% if is_single_group and request.has_permission("topic.post", group) %}
        <p class="empty-subtitle">Try choosing a longer time period, or break the silence by posting one yourself.</p>
        <div class="empty-action">
          <a href="/~{{ group.path }}/new_topic" class="btn btn-primary">Post a new topic</a>
        </div>
      {% else %}
        <p class="empty-subtitle">Try choosing a longer time period to find some.</p>
      {% endif %}
    {% else %}
      <h2 class="empty-title">No topics found</h2>
    {% endif %}
  </div>
{% endif %}

{% if topics %}
  <ol class="topic-listing"
  {% if rank_start is defined and rank_start is not none %}
    start="{{ rank_start }}"
  {% endif %}
  >

  {% for topic in topics: %}
    <li>

    {# only display the rank on topics if the rank_start variable is set #}
    {% if rank_start is defined and rank_start is not none %}
      {{ render_topic_for_listing(
          topic,
          show_group=topic.group != request.context,
          rank=rank_start + loop.index0,
      ) }}
    {% else %}
      {{ render_topic_for_listing(topic, show_group=topic.group != request.context) }}
    {% endif %}

    </li>
  {% endfor %}

  </ol>
{% endif %}

{% if topics.has_prev_page or topics.has_next_page %}
  <div class="pagination">
    {% if topics.has_prev_page %}
      <a class="page-item btn"
        href="{{ request.current_listing_base_url({'before': topics.prev_page_before_id36}) }}"
      >Prev</a>
    {% endif %}

    {% if topics.has_next_page %}
      <a class="page-item btn"
        href="{{ request.current_listing_base_url({'after': topics.next_page_after_id36}) }}"
      >Next</a>
    {% endif %}
  </div>
{% endif %}

{% endblock %}

{% block sidebar %}
  {{ search_form(group=group) }}

  <h3>~{{ group.path }}</h3>

  {% if group.short_description %}
    <div class="group-short-description">{{ group.short_description }}</div>
  {% endif %}

  {{ render_group_subscription_box(group) }}

  {% if request.has_permission("topic.post", group) %}
    <a href="/~{{ group.path }}/new_topic" class="btn btn-primary">Post a new topic</a>
  {% endif %}

  {% if group.sidebar_rendered_html %}
    <div class="group-sidebar-text">{{ group.sidebar_rendered_html|safe }}</div>
  {% endif %}

  {% if subgroups %}
    <ul class="nav">
      <li>Subgroups</li>
      <ul class="nav">
      {% for subgroup in subgroups %}
        <li class="nav-item">{{ link_to_group(subgroup) }}</li>
      {% endfor %}
      </ul>
    </ul>
  {% endif %}

  {% if most_recent_scheduled_topics %}
    <ul class="nav">
      <li>Recurring scheduled topics</li>
      <ul class="nav">
      {% for scheduled_topic in most_recent_scheduled_topics %}
        <li class="nav-item"><a href="{{ scheduled_topic.permalink }}">{{ scheduled_topic.title }}</a></li>
      {% endfor %}
      </ul>
    </ul>
  {% endif %}

  {% if wiki_pages or wiki_has_index %}
    <ul class="nav">
      <li>Group wiki pages</li>
      <ul class="nav">
      {% if wiki_has_index %}
        <li class="nav-item"><a href="{{ request.route_url("group_wiki_page", path=group.path, wiki_page_path="index") }}" class="text-bold">index</a></li>
      {% endif %}
      {% for page in wiki_pages %}
        <li class="nav-item"><a href="{{ request.route_url("group_wiki_page", path=group.path, wiki_page_path=page.path) }}">{{ page.page_name }}</a></li>
      {% endfor %}
      </ul>
    </ul>
  {% endif %}

  {% if request.user %}
    <div class="divider"></div>

    <ul class="nav">
    <li>User settings</li>

    <ul class="nav">
      {% if not (tag or unfiltered) %}
      <li><details>
        <summary>Filtered topic tags ({{ request.user.filtered_topic_tags|length }})</summary>
        <ul class="topic-tags">
          {% for tag in request.user.filtered_topic_tags %}
              <li class="label label-topic-tag">
                <a href="/?tag={{tag}}">{{ tag }}</a>
              </li>
          {% else %}
            <li class="label label-topic-tag">No filtered tags</li>
          {% endfor %}
        </ul>
        <a class="btn btn-link" href="/settings/filters">Edit filtered tags</a>
      </details></li>
      {% endif %}

      <li class="nav-item ml-2"><a href="/settings">Settings page</a></li>
    </ul>
    </ul>
  {% endif %}
{% endblock %}
