{# Copyright (c) 2019 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'user.jinja2' %}

{% block title %}Search {{ user }}'s posts: {{ search }}{% endblock %}

{% block main_heading %}Search results: {{ search }}{% endblock %}

{% block no_posts_message %}No results found{% endblock %}
