// Copyright (c) 2018 Tildes contributors <code@biglife.quest>
// SPDX-License-Identifier: AGPL-3.0-or-later

.btn {
  @include min-touch-size;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 0.6rem;
  font-weight: bold;

  color: var(--button-color);
  background-color: transparent;
  border-color: var(--button-color);

  &:hover {
    background-color: var(--button-transparent-color);
  }
}

.btn.btn-sm {
  font-size: 0.6rem;
}

.btn.btn-link {
  color: var(--link-color);
  background-color: transparent;
  border-color: transparent;

  &:hover {
    color: var(--link-color);
  }
}

.btn-link-minimal {
  display: inline;
  height: auto;
  width: auto;
  padding: 0;
  border: 0;
  font-weight: normal;

  @media (min-width: $size-md) {
    min-height: 0;
  }
}

.btn-comment-collapse {
  height: 100%;
  line-height: 100%;
  padding: 0;

  @media (max-width: $size-md) {
    border-left: 0;
  }

  margin-right: 0.4rem;

  @media (min-width: $size-md) {
    margin-right: 0.2rem;
    min-width: 0.8rem;
  }

  &:hover {
    border-color: var(--border-color);
  }
}

.btn-comment-collapse-label::after {
  content: "−";
}

.btn-comment-label {
  @include min-touch-size;

  display: inline-flex;
  align-items: center;
  margin: 0 0.4rem;
  padding: 0.2rem;

  background: none;
  border: 0;

  font-size: 0.6rem;
  font-weight: bold;
  text-transform: capitalize;

  cursor: pointer;

  &.btn-used {
    height: 1rem;
    border: 1px solid;
  }
}

@mixin label-button($color) {
  color: $color;
  border-color: $color;

  &:hover {
    color: $color;
  }

  &.btn-used:hover {
    background-color: $color;
    color: #fff;
  }
}

.btn-comment-label-exemplary {
  @include label-button(var(--comment-label-exemplary-color));
}

.btn-comment-label-joke {
  @include label-button(var(--comment-label-joke-color));
}

.btn-comment-label-noise {
  @include label-button(var(--comment-label-noise-color));
}

.btn-comment-label-offtopic {
  @include label-button(var(--comment-label-offtopic-color));
}

.btn-comment-label-malice {
  @include label-button(var(--comment-label-malice-color));
}

.btn-light {
  font-weight: normal;

  color: var(--foreground-secondary-color);
  border-color: var(--border-color);

  &:hover {
    color: var(--link-color);
  }
}

.btn-post {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;

  // The buttons don't need to be spaced widely on a desktop
  @media (min-width: $size-md) {
    justify-content: left;
  }

  li {
    margin-top: 0;
  }

  // Combined with flex-wrap: wrap, this should put any form on its own line
  form {
    min-width: 100%;
  }

  // Status message (errors) should be on their own line as well
  > .text-status-message {
    min-width: 100%;
    margin: 0.4rem;
  }
}

.btn-post-action {
  @include min-touch-size;

  display: flex;
  padding: 0.4rem;

  background: none;
  border: 0;

  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 0.6rem;
  line-height: 0.6rem;

  cursor: pointer;

  color: var(--foreground-secondary-color);

  &:hover {
    color: var(--foreground-extreme-color);
  }
}

.btn-post-action-used {
  text-decoration: underline;
  color: var(--button-used-color);
}

.btn.btn-primary {
  color: var(--button-by-brightness-color);

  background-color: var(--button-color);
  border-color: var(--button-color);

  &:hover {
    color: var(--button-by-brightness-color);
    background-color: var(--button-color);
    border-color: var(--button-color);

    filter: brightness(90%);
  }

  &:visited {
    color: var(--button-by-brightness-color);
  }
}

.btn-used {
  color: var(--button-used-color);
  border-color: var(--button-used-color);

  &:hover {
    filter: brightness(95%);
    color: #fff;
  }
}
