// Copyright (c) 2018 Tildes contributors <code@biglife.quest>
// SPDX-License-Identifier: AGPL-3.0-or-later

.divider,
.divider[data-content] {
  margin: 1rem;
  border-color: var(--border-color);
}

.divider[data-content]::after {
  color: var(--foreground-primary-color);
  background-color: var(--background-primary-color);
}
