// Copyright (c) 2019 Tildes contributors <code@biglife.quest>
// SPDX-License-Identifier: AGPL-3.0-or-later

.donation-goal {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $paragraph-max-width;

  padding: 0.4rem;
  margin: 1rem 0;
  border: 1px solid;
  border-color: inherit;

  font-size: 0.6rem;
  line-height: 1.3;
  text-align: center;

  header {
    font-weight: bold;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.donation-goal-meter {
  width: 100%;
  height: 0.4rem;
}

.donation-goal-meter-over-goal {
  background: var(--comment-label-exemplary-color);

  &::-webkit-meter-bar {
    background: var(--comment-label-exemplary-color);
  }
}

.donation-goal-progress {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 0.2rem;
}

.donation-goal-percentage {
  font-size: 0.6rem;
  line-height: 0.6rem;
  font-weight: bold;
  margin-left: 0.4rem;
}
