// Copyright (c) 2020 Tildes contributors <code@biglife.quest>
// SPDX-License-Identifier: AGPL-3.0-or-later

.dropdown {
  .menu {
    animation: none;

    .btn-post-action {
      justify-content: left;
      width: 100%;

      &:hover {
        background-color: var(--background-secondary-color);
      }
    }
  }

  &.dropdown-bottom {
    .menu {
      top: auto;
      bottom: 100%;
    }
  }

  &-toggle.btn-post-action {
    height: auto;
  }
}
