// Copyright (c) 2018 Tildes contributors <code@biglife.quest>
// SPDX-License-Identifier: AGPL-3.0-or-later

.empty {
  background: inherit;
  color: inherit;
}

.empty-subtitle {
  color: var(--foreground-secondary-color);
}
