// Copyright (c) 2018 Tildes contributors <code@biglife.quest>
// SPDX-License-Identifier: AGPL-3.0-or-later

.form-autocomplete {
  .menu {
    background-color: var(--background-secondary-color);
  }

  .form-autocomplete-input .form-input {
    border-color: transparent;
  }
}

.form-group {
  .form-radio {
    margin-left: 1rem;
  }
}

.form-narrow {
  max-width: 20rem;

  .input-group .form-select {
    flex-shrink: 0;
  }
}

select.form-select:not([multiple]):not([size]) {
  // would be better to implement autoprefixer to do this
  -moz-appearance: none;
  -webkit-appearance: none;

  border-color: var(--border-color);
  background-color: var(--background-input-color);
}

.form-listing-options {
  margin-left: 1rem;

  label,
  select {
    font-size: 0.6rem;
  }

  select {
    width: auto;
    height: 1.4rem;
    padding: 0 0 0 0.2rem;
  }
}

.form-login {
  margin-bottom: 2rem;
}

.form-markdown {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-size: 0.6rem;
    }
  }
}

.form-markdown-preview {
  @extend %text-container;

  min-height: 8rem;
  padding: 0.4rem;
  border: 1px dashed;
  overflow: auto;

  border-color: var(--border-color);
}

.form-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;

  margin: 0.2rem 0;
  max-width: 40rem;

  button {
    margin-left: 0.4rem;
    flex-shrink: 0;
  }
}

textarea.form-input {
  height: 8rem;
  line-height: 1.5;
  max-width: none;
  transition: none;
}

.form-input {
  max-width: 40rem;

  // error colors for :invalid inputs, using same approach as Spectre
  &:not(:placeholder-shown):invalid {
    border-color: var(--error-color);

    &:focus {
      box-shadow: 0 0 0 1px var(--error-color);
    }

    + .form-input-hint {
      color: var(--error-color);
    }
  }
}

.form-input,
.form-input[readonly] {
  color: var(--foreground-primary-color);
  background-color: var(--background-input-color);
  border-color: var(--border-color);
}

.form-input-note {
  font-size: 0.6rem;
  line-height: 0.9rem;
  margin: 0.2rem;
}

.form-label {
  display: flex;
  justify-content: space-between;
  max-width: 40rem;

  a {
    font-size: 0.6rem;
  }
}

.form-radio {
  display: block;
}

.form-search {
  margin-top: 1rem;
  margin-bottom: 1rem;

  .btn {
    width: auto;
    padding: 0 0.4rem;
    font-weight: normal;
  }

  .form-input {
    max-width: 15rem;
    margin-right: 0.4rem;
  }
}

#new-topic {
  margin-bottom: 200px;
}
