// Copyright (c) 2018 Tildes contributors <code@biglife.quest>
// SPDX-License-Identifier: AGPL-3.0-or-later

.heading-main {
  font-weight: bold;
}

.heading-post-listing {
  font-size: 0.6rem;
}

.heading-notification {
  font-size: 0.8rem;
  line-height: 1rem;
  margin-bottom: 0.2rem;
}
