// Copyright (c) 2018 Tildes contributors <code@biglife.quest>
// SPDX-License-Identifier: AGPL-3.0-or-later

.input-group .input-group-addon {
  border-color: inherit;
  background-color: var(--background-secondary-color);
  color: var(--foreground-highlight-color);
}

.input-invite-code {
  font-size: 0.6rem;
  margin-top: 0.4rem;
}
