// Copyright (c) 2018 Tildes contributors <code@biglife.quest>
// SPDX-License-Identifier: AGPL-3.0-or-later

a.link-user,
a.link-group {
  white-space: nowrap;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: var(--link-color);
  }
}

.link-no-visited-color:visited {
  color: var(--link-color);
}

a.logged-in-user-alert {
  color: var(--alert-color);

  &:visited {
    color: var(--alert-color);
  }
}
