// Copyright (c) 2018 Tildes contributors <code@biglife.quest>
// SPDX-License-Identifier: AGPL-3.0-or-later

.logged-in-user-info {
  flex-direction: row-reverse;
  align-items: center;

  font-size: 0.8rem;

  a {
    @include min-touch-size;

    display: flex;
    align-items: center;
  }
}

.logged-in-user-alert {
  font-weight: bold;
  font-size: 0.5rem;
}

.logged-in-user-username,
.logged-in-user-username:visited {
  color: var(--foreground-primary-color);
}
