// Copyright (c) 2019 Tildes contributors <code@biglife.quest>
// SPDX-License-Identifier: AGPL-3.0-or-later

.menu {
  box-shadow: none;
  border: 1px outset var(--border-color);

  background-color: var(--background-primary-color);

  .menu-item {
    > a:hover,
    > a:focus {
      background-color: transparent;
    }
  }
}
