// Copyright (c) 2018 Tildes contributors <code@biglife.quest>
// SPDX-License-Identifier: AGPL-3.0-or-later

.nav {
  li {
    @include min-touch-size;

    margin-bottom: 0;
    font-size: 0.6rem;
    font-weight: bold;
  }

  .nav {
    margin-left: 0;
    margin-top: 0;

    li {
      margin-top: 0.2rem;
      font-size: 0.8rem;
      font-weight: normal;
      border-bottom: 0;

      &.active a {
        text-decoration: underline;
      }
    }
  }

  .nav-item a {
    cursor: pointer;
    color: var(--link-color);

    &:hover {
      text-decoration: underline;
      color: var(--link-hover-color);
    }
  }

  .nav-item.active a {
    color: var(--link-color);
  }

  .nav-item .btn-link {
    height: auto;
    font-size: 0.8rem;
    font-weight: normal;
    padding: 0.2rem 0.4rem;
    border: 0;

    &:hover {
      text-decoration: underline;
    }
  }
}

.nav .nav-group-list {
  li {
    font-size: 0.7rem;
  }
}
