// Copyright (c) 2018 Tildes contributors <code@biglife.quest>
// SPDX-License-Identifier: AGPL-3.0-or-later

.page-item {
  font-size: 0.6rem;
  height: auto;
  line-height: normal;

  & + & {
    margin-left: 0.4rem;
  }
}
