// Copyright (c) 2018 Tildes contributors <code@biglife.quest>
// SPDX-License-Identifier: AGPL-3.0-or-later

#sidebar {
  // Prevents the sidebar background from being transparent on extremely old browsers
  // that don't support *either* custom properties or the @supports test for them
  background-color: $body-bg;

  // stylelint-disable-next-line declaration-block-no-duplicate-properties
  background-color: var(--background-primary-color);

  border-left-color: var(--border-color);

  .btn {
    width: 100%;
  }

  .logged-in-user-info {
    flex-direction: column;
  }

  .sidebar-controls .btn {
    width: auto;
  }

  .form-search {
    margin-top: 0;

    .btn {
      width: auto;
    }

    .form-input {
      max-width: unset;
    }
  }

  .nav .btn-link {
    width: auto;
  }
}

.sidebar-controls {
  display: flex;

  @media (min-width: $show-sidebar-width) {
    display: none;
  }

  margin: -0.4rem;
  margin-bottom: 0.4rem;
  padding: 0.2rem 0.4rem;
  align-items: center;
  justify-content: space-between;

  background-color: var(--background-secondary-color);
}

.is-sidebar-displayed {
  @media (max-width: $show-sidebar-width) {
    display: block !important;
    position: absolute;
    right: 0;
    top: 0;

    min-width: 0 !important;
    max-width: 90vw;
    z-index: 1000;
    min-height: 100vh;
    height: 100%;

    border-left: 3px double;
  }
}
