// Copyright (c) 2018 Tildes contributors <code@biglife.quest>
// SPDX-License-Identifier: AGPL-3.0-or-later

#site-header {
  .logged-in-user-alert {
    margin-right: 1rem;
  }

  .logged-in-user-info {
    // hidden on small screens
    display: none;

    @media (min-width: $show-sidebar-width) {
      display: flex;
    }

    float: right;
    margin-top: 0.2rem;
  }

  .toast {
    display: inline-block;
    width: auto;
    margin: 0.2rem 0.2rem 0 0;
    padding: 0.2rem 0.4rem;
    vertical-align: top;
    white-space: normal;
  }
}

.site-header-context {
  display: inline-block;
  vertical-align: text-bottom;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  a,
  a:visited {
    color: var(--foreground-primary-color);
  }

  .toast a,
  .toast a:visited {
    color: var(--link-color);
  }
}

.site-header-logo {
  display: inline-block;
  background-image: url("/favicon-32x32.png");
  background-repeat: no-repeat;

  // keep the logo pixelated - "pixelated" is best but Firefox only supports
  // "crisp-edges" as of Firefox 68
  image-rendering: pixelated;

  @supports not (image-rendering: pixelated) {
    image-rendering: crisp-edges;
  }

  @media (min-width: $size-xs) {
    margin-right: 1rem;
  }

  padding-left: 40px;
  padding-right: 8px;
  line-height: 32px;

  font-size: 1.2rem;
  font-weight: bold;

  color: var(--foreground-highlight-color);

  &:visited {
    color: var(--foreground-highlight-color);
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.site-header-sidebar-button {
  @media (min-width: $show-sidebar-width) {
    display: none;
  }

  float: right;
  margin-top: 0.2rem;

  &.badge {
    margin-right: 0.6rem;

    &[data-badge]::after {
      box-shadow: none;
      font-size: 0.5rem;
      height: 0.7rem;
      transform: translate(50%, -40%);
      background-color: var(--alert-color);
    }
  }
}
