// Copyright (c) 2018 Tildes contributors <code@biglife.quest>
// SPDX-License-Identifier: AGPL-3.0-or-later

#site-footer {
  padding: 0.2rem;

  @media (min-width: $size-md) {
    padding-bottom: 1rem;
  }

  font-size: 0.6rem;
  text-align: center;

  a:visited {
    color: var(--link-color);
  }
}

.site-footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  list-style-type: none;
  margin: 0 auto;
  max-width: 50rem;
}

.site-footer-link {
  @include min-touch-size;

  margin: 0;
  padding: 0 0.4rem;
  white-space: nowrap;
}

.site-footer-theme-selection {
  font-style: normal;
  margin-bottom: 1rem;

  select {
    width: auto;
    font-size: 0.6rem;
    height: 1.4rem;
    padding: 0 0 0 0.2rem;
  }
}
