// Copyright (c) 2018 Tildes contributors <code@biglife.quest>
// SPDX-License-Identifier: AGPL-3.0-or-later

.tab {
  font-size: 0.6rem;
  border-color: var(--border-color);

  .tab-item {
    a {
      color: var(--foreground-primary-color);
    }

    &.active a,
    &.active button {
      color: var(--link-color);
      border-bottom-color: var(--link-color);
    }
  }
}

.tab-item {
  &.active .btn {
    border-bottom: 2px solid;
  }

  .btn {
    font-weight: normal;
  }
}

.tab-listing-order {
  flex-wrap: nowrap;
  padding-left: 0;
  margin-top: 0;

  justify-content: space-around;

  // have the tabs span the full width at small sizes
  width: 100%;

  @media (min-width: $size-md) {
    width: auto;
  }

  .tab-item {
    white-space: nowrap;

    a {
      margin-right: 0;

      @media (min-width: $size-md) {
        margin-right: 1rem;
      }
    }

    &:last-child a {
      margin-right: 0;
    }
  }
}

.tab-markdown-mode {
  display: inline-flex;
}
