// Copyright (c) 2018 Tildes contributors <code@biglife.quest>
// SPDX-License-Identifier: AGPL-3.0-or-later

.text-error {
  color: var(--error-color);
}

.text-formatted {
  @extend %text-container;
}

.text-link {
  color: var(--link-color);
}

.text-secondary {
  color: var(--foreground-secondary-color);
}

.text-small {
  font-size: 0.6rem;
  line-height: 0.9rem;
}

.text-status-message {
  font-size: 0.6rem;
}

.text-warning {
  color: var(--warning-color);
}

// special formatting rules for wiki pages
.text-wiki {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      text-decoration: none;
      color: var(--foreground-highlight-color);
    }
  }

  h1,
  h2,
  h3 {
    border-bottom: 1px dotted;
    padding-bottom: 0.2rem;
  }

  h1,
  h2 {
    margin-top: 2rem;
  }

  // smaller margin when two large headers are sequential
  h1 + h1,
  h1 + h2,
  h2 + h2 {
    margin-top: 1rem;
  }

  h3 {
    margin-top: 1rem;
    font-size: 0.9rem;
  }

  h4 {
    font-size: 0.8rem;
    font-weight: bold;
  }

  .heading-main {
    margin-top: 0;
    border-bottom: 0;
  }
}
