// Copyright (c) 2018 Tildes contributors <code@biglife.quest>
// SPDX-License-Identifier: AGPL-3.0-or-later

.toast {
  @extend %text-container;

  margin: 1rem 0;
  font-weight: bold;

  color: var(--foreground-highlight-color);
  background-color: var(--background-secondary-color);
  border-color: var(--border-color);

  a {
    color: var(--link-color);
  }

  ul {
    margin-bottom: 1rem;
  }
}

.toast-minor {
  font-size: 0.6rem;
  line-height: 0.9rem;
  font-weight: normal;
  margin: 0.4rem 0;

  h2 {
    font-size: 0.7rem;
    font-weight: bold;
  }
}

.toast.toast-warning {
  border-color: var(--warning-color);
  color: var(--warning-foreground-color);
  background-color: var(--warning-background-color);
}
