{# Copyright (c) 2018 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% from 'macros/comments.jinja2' import render_comment_contents with context %}

{{ render_comment_contents(comment, is_individual_comment=True) }}
