{# Copyright (c) 2018 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% from 'macros/groups.jinja2' import render_group_subscription_box with context %}

{{ render_group_subscription_box(group) }}
