{# Copyright (c) 2018 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

<div class="code-gen-btn">
  {% if num_remaining > 0 %}
    <button
      class="btn btn-primary mb-2"
      data-ic-get-from="{{ request.route_url(
        'ic_user_invite_code',
        username=request.user.username,
      ) }}"
      data-ic-replace-target="true"
      data-ic-target=".code-gen-btn"
    >Generate new code ({{ num_remaining }} left)</button>
  {% else %}
    <p>You aren't able to generate more invite links right now.</p>
  {% endif %}
  <p>You have the following invite links active that have not been used yet:</p>
</div>

<input class="form-input input-invite-code" type="text" value="{{ request.route_url("register", _query={"code": code}) }}" readonly data-js-autoselect-input>
