{# Copyright (c) 2019 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% from 'macros/buttons.jinja2' import post_action_toggle_button with context %}

{{ post_action_toggle_button(name, subject, is_toggled) }}
