{# Copyright (c) 2018 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% from 'macros/comments.jinja2' import render_single_comment with context %}

{{ render_single_comment(comment) }}
