{# Copyright (c) 2018 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% from 'macros/topics.jinja2' import topic_voting with context %}

{{ topic_voting(topic) }}
