{# Copyright (c) 2018 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% from 'macros/forms.jinja2' import topic_tagging %}

<form method="post"
    autocomplete="off"
    data-ic-put-to="{{ request.route_url(
      'ic_topic_tags',
      topic_id36=topic.topic_id36,
    ) }}"
    data-ic-target=".topic-full-tags"
    data-ic-replace-target="true"
    data-js-remove-on-success
>
  <input type="hidden" name="conflict_check" id="conflict_check" value="{{ topic.tags|join(",") }}">
  {{ topic_tagging(value=topic.tags|join(', '), auto_focus=True, autocomplete_options=topic.group.autocomplete_topic_tags) }}
  <div class="form-buttons">
    <button class="btn btn-primary" type="submit">Save tags</button>
    <button type="button" class="btn btn-link" data-js-cancel-button>Cancel</button>
  </div>
</form>
