{# Copyright (c) 2020 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% from 'macros/user.jinja2' import two_factor_backup_codes with context %}

{{ two_factor_backup_codes() }}
