// Copyright (c) 2018 Tildes contributors <code@biglife.quest>
// SPDX-License-Identifier: AGPL-3.0-or-later

// Styles for base elements only (no classes, IDs, etc.)
// Includes overrides for Spectre.css base element styles as well

html {
  font-size: $html-font-size;
}

* {
  border-color: var(--border-color);
}

a {
  text-decoration: none;

  color: var(--link-color);

  &:hover {
    color: var(--link-hover-color);
  }

  &:visited {
    color: var(--link-visited-color);
  }

  code {
    color: var(--link-color);

    &:hover {
      text-decoration: underline;
    }
  }

  &:visited code {
    color: var(--link-visited-color);
  }
}

blockquote {
  margin-left: 1rem;
  max-width: $paragraph-max-width - 1rem; // subtract the left margin
  margin-right: 0;

  border-left: 1px dotted;

  border-color: var(--foreground-highlight-color);
  background-color: var(--background-secondary-color);

  // nested blockquotes need reduced margin/padding
  > blockquote {
    margin: 0;
    margin-bottom: 0.2rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  code,
  pre {
    background-color: var(--background-primary-color);
  }
}

body {
  position: relative;
  min-height: 100vh;

  @include font-shrink-on-mobile(0.8rem);

  color: var(--foreground-primary-color);
  background-color: var(--background-secondary-color);
}

button {
  cursor: pointer;
}

code {
  display: inline-block;
  font-size: inherit;
  -moz-tab-size: 4;
  tab-size: 4;

  color: var(--foreground-highlight-color);
  background-color: var(--background-secondary-color);
}

dl dd {
  @extend %text-container;

  margin-left: 0.4rem;
  font-size: 0.7rem;
}

// Fixes a Chrome bug that seems to treat children of <details> as having
// box-sizing: content-box. See Known issues: https://caniuse.com/#feat=details
details * {
  box-sizing: border-box;
}

fieldset {
  margin: 1rem;
  margin-right: 0;
  padding-left: 0.4rem;
  border-left: 3px solid var(--border-color);
}

figcaption {
  font-style: italic;
  font-weight: bold;
  font-size: 0.6rem;
  margin-bottom: 0.4rem;
}

figure {
  display: inline-block;
  width: auto;
  text-align: center;
  margin: 0.4rem;
  padding: 0.4rem;
  border: 1px solid;

  @media (min-width: $size-sm) {
    float: right;
  }
}

form {
  max-width: 40rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.4rem;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.9rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.7rem;
}

hr {
  border-style: solid;
  border-width: 0 0 1px;
}

legend {
  font-size: 0.8rem;
  margin-left: -1.4rem;
  margin-bottom: 0;
}

main {
  padding: 0.2rem;
  overflow: hidden;
  max-width: 100vw;

  background-color: var(--background-primary-color);

  @media (min-width: $size-md) {
    padding: 0.4rem;
  }

  @media (min-width: $show-sidebar-width) {
    max-width: calc(100vw - #{$sidebar-width} - 1.2rem);
  }
}

menu {
  list-style-type: none;
  padding: 0;
}

meter {
  // Crazy styles to get this to work adapted from Spectre.css's _meters.scss
  background: var(--background-secondary-color);

  &::-webkit-meter-bar {
    background: var(--background-secondary-color);
  }

  // For some mysterious reason, none of the below rules can be merged
  &::-webkit-meter-optimum-value {
    background: var(--success-color);
  }

  &:-moz-meter-optimum::-moz-meter-bar {
    background: var(--success-color);
  }

  &::-webkit-meter-suboptimum-value {
    background: var(--warning-color);
  }

  &:-moz-meter-sub-optimum::-moz-meter-bar {
    background: var(--warning-color);
  }

  &::-webkit-meter-even-less-good-value {
    background: var(--error-color);
  }

  &:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: var(--error-color);
  }
}

// We'll use lists for their semantic value sometimes, so we don't want them to
// have the normal list numbering/etc. by default. We'll specifically add that
// back in for text-based lists in places where it's needed.
ol,
ul {
  list-style: none;
  margin: 0;

  ol,
  ul {
    list-style: none;
  }
}

p {
  max-width: $paragraph-max-width;
  margin-bottom: 0.4rem;
}

p:last-child {
  margin-bottom: 0;
}

pre {
  overflow: auto;
  color: var(--foreground-highlight-color);
  background-color: var(--background-secondary-color);

  code {
    display: block;
    line-height: 1.1rem;
  }
}

section {
  margin-top: 1rem;
}

summary {
  cursor: pointer;
}

// table, td, th styles copied from Spectre.css to avoid needing to add .table
// and .table-striped classes to all tables in user posts
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: auto;
  margin-bottom: 1rem;
}

tbody tr:nth-of-type(2n + 1) {
  background-color: var(--background-secondary-color);
}

td,
th {
  border: $border-width solid var(--border-color);
  padding: $unit-3 $unit-2;
}

th {
  border-bottom: $border-width-lg solid var(--foreground-highlight-color);
}
