{# Copyright (c) 2018 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

  <dt>Password restrictions</dt>
  <dd>
    <ul>
      <li>At least 8 characters long.</li>
      <li>Does not contain the username, and is not contained in the username.</li>
      <li>
        <p>Has not been previously exposed in a data breach (checked locally against a list downloaded from <a href="https://haveibeenpwned.com/Passwords" target="_blank">Troy Hunt's "Have I been pwned?"</a>).</p>
      </li>
    </ul>
  </dd>
