{# Copyright (c) 2019 Tildes contributors <code@biglife.quest> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

  <div class="toast toast-minor">
    <h2>Important notes about editing wiki pages</h2>
    <p>By submitting content to the Tildes wiki, you are agreeing to license it under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0</a> and understand that doing so means that the content can be copied, modified, and redistributed by others (as long as they follow the terms of that license).</p>
    <p>The full history of Tildes wiki pages is retained and publicly available. Please be very careful not to include private information or other sensitive data, since it may be impossible to remove from the history.</p>
  </div>
