<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:image" content="{{ SITEURL }}/theme/images/favicon-144x144.png">
  {% block meta_og_tags %}{% endblock %}

  <link rel="stylesheet" type="text/css" href="https://biglife.quest/css/tildes.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/styles.css">
  <link rel="icon" type="image/png" href="{{ SITEURL }}/theme/images/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ SITEURL }}/theme/images/favicon-32x32.png" sizes="32x32">
  <link rel="alternate" type="application/atom+xml" title="Tildes Blog" href="/all.atom.xml">

  <title>{% block title %}{% endblock %}</title>
</head>
<body class="static-site">
<script src="{{ SITEURL }}/theme/js/tildes-static-sites.js"></script>
<header id="site-header">
  {% block header %}{% endblock %}
</header>

<main>
{% block content %}{% endblock %}
</main>

<aside id="sidebar">
  {% block pagelist %}{% endblock %}
</aside>

<footer id="site-footer">
  <ul class="site-footer-links">
    <li class="site-footer-link"><a href="https://biglife.quest">Tildes</a></li>
    <li class="site-footer-link"><a href="https://blog.biglife.quest">Blog</a></li>
    <li class="site-footer-link"><a href="https://docs.biglife.quest">Docs</a></li>
  </ul>
</footer>

</body>
</html>
