{% extends "page.html" %}

{% block meta_og_tags %}{% endblock %}

{% block title %}Tildes Docs{% endblock %}

{% block content %}
<p>This is the Tildes Docs site, which contains all sorts of official documentation-type pages, as well as personal musings by the creator. </p>
<p>The pages are grouped by subject:</p>
<ul>
<li>
<p><a href="https://docs.biglife.quest/philosophy">The philosophy of Tildes.</a> Why things are done the way they are, and the thinking behind the design and implementation of the website. </p>
</li>
<li>
<p><a href="https://docs.biglife.quest/future-plans">Future plans for Tildes.</a> Where Tildes is going, and what features will be added in the future.</p>
</li>
<li>
<p><a href="https://docs.biglife.quest/policies">Tildes policies.</a> What rules apply to using Tildes.</p>
</li>
<li>
<p><a href="https://docs.biglife.quest/instructions">Instructions.</a> How to use Tildes.</p>
</li>
<li>
<p><a href="https://docs.biglife.quest/development">Development.</a> How to set up and work with a Tildes development environment.</p>
</li>
<li>
<p><a href="https://docs.biglife.quest/donate">Donate.</a> How to donate to Tildes.</p>
</li>
<li>
<p><a href="https://docs.biglife.quest/contact">Contact.</a> How to contact the administrator of Tildes. </p>
</li>
</ul>
{% endblock %}
